<!-- <form action="">
<div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-12">
        <form class="form-inline active-cyan-4">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Enter Username"  name="searchName" [(ngModel)]="searchName" aria-label="Search">
          <button class="btn btn-info  btn-sm" (click) = "search()"> <i class="fa fa-search" aria-hidden="true"></i> Search</button>
        </form>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</form> -->

<!-- Default form contact -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4 h1">Git-Search</p>

    <!-- <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name" (click)="search"> -->
    <div class="form-group">
        <input type="text"  [(ngModel)]='searchName' name="searchName" id="defaultContactFormName" class="form-control mb-4" placeholder="Name" (click)="search">
    </div>

    <button class="btn btn-info btn-block" type="submit" (click)="search()">search</button>

</form>
