<div class="jumbotron">
  <h2 class="display-4 h1" appMousehover>Github Search</h2>
  <p class="lead" appMousehover>GitHub,is an American multinational corporation that provides hosting for software development and version
    control using Git. It offers the distributed version control and source code management functionality of Git, plus
    its own features.
  </p>
  <hr class="my-4">
  <p class="" appMousehover>This is an application where you can the user can search their git hub username and get to find
    everything about that accout including the repository.
  </p>
  <a class="btn btn-elegant btn-lg" href="#" role="button">Learn more</a>
</div>

