<div class="container">
  <div>
    <app-profile-form (searchUser)='performsearch($event)'></app-profile-form>
  </div>
  <div class="">
    <div class="row">
      <div class="col-sm">
        <div class="">

          <div class="avatar mx-auto white">
            <img src="{{profile.avatar_url}}" class="rounded-circle" alt="woman avatar">
          </div>
        </div>

      </div>
      <div class="col-sm">
        <div class="">
          <div class="card-body">
            <h4 class="card-title">{{profile.login}}</h4>
            <hr>
            <div class="row">
              <div class="col">
                <p>{{profile.followers}} Followers</p>
                <p>{{profile.following}} Following</p>
              </div>
            </div>
            <p>{{profile.email}}</p>
          </div>

        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-md-6 mb-4 d-flex " *ngFor='let repo of repos'>

        <div class="card">

          <div class="card-body">
            <h4 class="card-title">{{repo.name}}</h4>
            <p class="card-text">{{repo.description}}</p>
            <p>{{repo.language}}</p>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
